.navbar
{
    background: #343a40;
    padding: 20px;
}

.navbar-brand.main-title
{

    color: #f7f7f7;
}

nav.navbar ul.nav li a {

    color: #d82929;
}

nav.navbar ul.nav li b
{
    color: #222;
}

body
{
    background: #f7f7f7;
    font-family: 'Poiret One', cursive;
}

h1
{
    color: #17a2b8;
}

h3
{
    color: #e9ecef;
}

h2,h4,h5,h6
{
   color: black;
}

footer
{
    background: #222;
    padding: 20px;
}

.page
{
    background: #fff;
    border-radius: 1em;
    margin: 1em;
    min-height: 500px;
    padding: 1em;
}

.icon-home
{
    color: #666;
    font-size: 60px;
    margin: 20px;
}

.btn-home-admin
{
    font-size: 25px;
}

